/* 
    Document   : basic
    Created on : 7.3.2012, 21:29:44
    Author     : Maria von Kügelgen
    Description:
        Purpose of the stylesheet follows.
*/

html { min-width: 600px; }

body, div, td, th, h2, h3, h4 { /* redundant rules for bad browsers  */  
    font-family: "Arial", sans-serif;
    voice-family: inherit;
    color: #333;
}  
.clearhack { display: inline; } /*Clears Box Model Hack in IE5*/

th {
    text-align: left;
}

select {
    background-color: #FFF;
}

select.substance {
    width: 250px;
}

select.batch {
    width: 350px;
}

table {
    border-collapse: collapse;
}

table.noborder td {
    border: none;
}

table.listing {
    border: 0px;
    margin: none;
}

table.listing td {
    background-color: #FFF;
    padding: 3px;
}

table.listing th {
    padding: 3px;
}

td {
    border: 1px solid #333;
}

table.eluate {
    background-color: #FFF;
}

td.noborder, th.noborder {
    border: none;
}

td.name {
    width: 140px;
    border: none;
}

th.amount {
    width: 45px;
}

td.center {
    text-align: center;
    width: 45px;
}

.elbutton {
    width: 125px;
}

.oldest{
    width: 150px;
}

.substance {
    width: 260px;
}

.warnigs {
    width: 200px;
}

.wide {
    width: 500px;
}

.batchnumber {
    width: 100px;
}

.quality {
    width: 195px;
}

tr.blue td {
    background-color: #BAC7FF;
}

tr.yellow td {
    background-color: #FFF7A0;
}

tr.red td {
    background-color: #FFA1A1;
}

tr.orange td {
    background-color: #FFAA5F
}

body {
    background: #E6FCE7;
    color: #333;
    padding: 1em 20px 3em 20px;
    margin: 0;
}

a {
    text-decoration:underline;
    color: #333;
}
a:hover { color: #000000; }
a:active { color: #000000; }

p { line-height: 140%; }

h1,h2 {
    font-family: trebuchet ms;
    font-weight: bold;
    color: #333;
}

h1 {
    font-size: 180%;
    margin: 0;
}

h1 a { text-decoration: none; color: #333; }
h1 a:hover { border-bottom: 1px solid #666; color: #000; }

h2 {
    font-size: 140%;
    padding-bottom: 2px;
    border-bottom: 1px solid #CCC;
    margin: 0;
}

p.note {
    background: #EEE;
    padding: 4px;
    font-family: tahoma;
    font-size: 85%;
    line-height: 130%;
    margin-top: 0;
}

/*#storageTable {
    padding-left: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}*/

#headertimestamp {
    font-size: 0.8em;
    float: right;
    padding-right: 15px;
}

#hours, #minutes {
    width: 50px;
}

#klo {
    padding-left: 90px;
}

#pvm {
    padding-left: 100px;
}