/* 
    Document   : basic
    Created on : 7.3.2012, 21:29:44
    Author     : Maria von Kügelgen
    Description:
        Purpose of the stylesheet follows.
*/

html { min-width: 600px; }

body, div, td, th, h2, h3, h4 { /* redundant rules for bad browsers  */  
    font-family: "Arial", sans-serif;
    voice-family: inherit;
    color: #333;
}  
.clearhack { display: inline; } /*Clears Box Model Hack in IE5*/

table {border-collapse: collapse;}

th {text-align: left;}

td {border: 1px solid #333;}

select {background-color: #FFF;}


.activity {width: 100px;}

select.am {width: 65px;}

.amount {width: 60px;}

select.batch {width: 350px;}

.batch {width: 150px;}

.batchnumber {width: 100px;}

.before {width: 180px;}

td.center {
    text-align: center;
    width: 45px;
}

.comm {width: 300px;}

.date {width: 95px;}

.editButton {width: 90px;}

.elbutton {width: 135px;}

table.eluate {background-color: #FFF;}

.eluateButton {
    height: 30px; 
    width: 110px;
    font-weight: bold;
}

.infotext {font-size: 90%;}

select.list {width: 600px;}

table.listing {
    border: 0px;
    margin: none;
    margin-bottom: 30px;
}

table.listing td {
    background-color: #FFF;
    padding: 5px;
}

table.listing th {padding: 3px;}

.location {width: 170px;}

.name {
    width: 140px;
    border: none;
}

.new {width: 320px;}

table.noborder td {border: none;}

td.noborder, th.noborder {border: none;}

.oldest{width: 150px;}

.quality {width: 270px;}

.radioMedicineButton {
    height: 30px; 
    width: 140px;
    font-weight: bold;
}

.raport{ margin: 50px; }

.raport td {border: none;}

.raport th{padding: 20px;}

.reportAmount {width: 50px;}

.reportName {width: 245px;}

.reportReason {width: 170px;}

.short {width: 70px;}

.shortButton {width: 70px;}

.signature {width: 60px;}

.substance {width: 260px;}

select.substance {width: 250px;}

.substanceFirst {width: 250px;}

.substanceSecond {width: 280px;}

.substanceHeader {
    font-weight: bold;
    font-size: 120%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10 px;
}

.time {width: 160px;}

.warnigs {width: 200px;}

.wide {width: 500px;}


tr.blue td {background-color: #BAC7FF;}

tr.yellow td {background-color: #FFF7A0;}

tr.red td {background-color: #FFA1A1;}

tr.orange td {background-color: #FFAA5F}

body {
    background: #E6FCE7;
    color: #333;
    padding: 1em 20px 3em 20px;
    margin: 0;
}

a {
    text-decoration:underline;
    color: #333;
}
a:hover { color: #000000; }
a:active { color: #000000; }

p { line-height: 140%; }

h1,h2 {
    font-family: trebuchet ms;
    font-weight: bold;
    color: #333;
}

h1 {
    font-size: 180%;
    margin: 0;
}

h1 a { text-decoration: none; color: #333; }
h1 a:hover { border-bottom: 1px solid #666; color: #000; }

h2 {
    font-size: 140%;
    padding-bottom: 2px;
    border-bottom: 1px solid #CCC;
    margin: 0;
}

h3 {
    font-size: 120%;
    margin-bottom: -20px;
}

p.note {
    background: #EEE;
    padding: 4px;
    font-family: tahoma;
    font-size: 85%;
    line-height: 130%;
    margin-top: 0;
}

/*#storageTable {
    padding-left: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}*/

#headertimestamp {
    font-size: 0.8em;
    float: right;
    padding-right: 15px;
}

#hours, #minutes {
    width: 50px;
}

#klo {
    padding-left: 90px;
}

#pvm {
    padding-left: 100px;
}

/*.pad {
    padding-left: 40px;
}*/