<!DOCTYPE html>
<html>
<head>
    <title>Radioaine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="basic.css" />
    <link rel="stylesheet" type="text/css" href="tabs.css" />
</head>

<body>
    <h1><a href="frontpage.html">Radioaine</a></h1>
    <div id="header">
    <ul id="primary">
        <li><a href="frontpage.html">VALMISTUS</a></li>
        <li><a href="storage.html">VARASTO</a></li>
        <li><span>HALLINTA</span>
            <ul id="secondary">
                <li><a href="historyView.html">Historiatiedot ja raportit</a></li>
                <li><a href="admin.html">Aineiden tiedot</a></li>
                <li><a href="admin.html" class="last">Ylläpito</a></li>
            </ul>
        </li>
    </ul>
    </div>
    <div id="main">
        <div id="contents">
            Tähän jotain yleistä höpinää siitä, mitä hallintasivustolla voi tehdä. Tai joku ylläolevista linkeistä aukeamaan suoraan tähän.
        </div>
    </div>
</body>
</html>
