<!DOCTYPE html>
<html>
<head>
    <title>Radioaine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="basic.css" />
    <link rel="stylesheet" type="text/css" href="tabs.css" />
</head>

<body>
    <h1><a href="frontpage.html">Radioaine</a></h1>
    <div id="header">
    <ul id="primary">
        <li><a href="frontpage.html">VALMISTUS</a></li>
        <li><a href="storage.html" class="selected">VARASTO</a></li>
        <li><a href="admin.html">HALLINTA</a></li>
    </ul>
    </div>
    <div id="main">
        <div id="contents">
                   
            <h2>Angiocis 20.12mg / Eränumero 99A89796</h2>
            <br/>
           
            <table class="noborder">
               
                <tr>
                    <td class="name">Vanhenemispäivä</td>
                    <td>5.3.2012</td>
                </tr>

                <tr>
                    <td>Laadunvarmistus</td>
                    <td>Suorittamatta</td>
                </tr>
                       
                <tr>
                    <td>Sijainti</td>
                    <td>Jääkaappi 1 &nbsp; 2 kpl</td>
                </tr>
               
                <tr>
                    <td></td>
                    <td>Jääkaappi 2 &nbsp; 3 kpl</td>
                </tr>
               
                <tr>
                    <td>Määrä yhteensä</td>
                    <td>5 kpl</td>
                </tr>
               
                <tr>
                    <td>Huomautuksia</td>
                    <td>1 pullo käytetty ilman laadunvarmistusta 17.2.2012</td>
                </tr>
                   
            </table>
           
            <br/>
           
            <form method="link" action="changeBatch.html">
                <input type="submit" value="Muokkaa erän tietoja">
            </form>
           
            <br/>
            Vai näin?
            <br/><br/>
           
            <h2>Angiocis 20.12mg / Eränumero 99A89796</h2>
            <br/>
           
            <table class="noborder">
               
                <tr>
                    <td class="name">Vanhenemispäivä</td>
                    <td class="substance"><input id="expDate" name="expDate" type="text" size="8" value="5.3.2012" disabled="disabled"/></td>
                    <td></td>
                </tr>

                <tr>
                    <td>Laadunvarmistus</td>
                    <td id="qualityCheck">
                       <form action="/radioaine/doCheck/1+1" method="POST">
                           <select name="qualityCheck" disabled="disabled">
                                <option value="0" selected="selected">Suorittamatta</option>
                               <option value="1">Hyväksytty</option>
                               <option value="2">Hylätty</option>
                           </select>
                       </form>
                    </td>
                    <td></td>
                </tr>
                       
                <tr>
                    <td>Sijainti</td>
                    <td>
                        <select disabled="disabled">
                            <option value="1" selected="selected">Jääkaappi 1</option>
                            <option value="2">Jääkaappi 2</option>
                            <option value="3">Jääkaappi 3</option>
                            <option value="4">Jääkaappi 4</option>
                            <option value="5">Jääkaappi 5</option>
                            <option value="6">Jääkaappi 6</option>
                            <option value="7">Jääkaappi 7</option>
                        </select> &nbsp; &nbsp;
                        <input id="storageLocations01" name="storageLocations[0][1]" type="number" size="3" value="2" disabled="disabled"/> kpl
                    </td>
                    <td></td>
                </tr>
               
                <tr>
                    <td></td>
                    <td>
                        <select disabled="disabled">
                            <option value="1">Jääkaappi 1</option>
                            <option value="2" selected="selected">Jääkaappi 2</option>
                            <option value="3">Jääkaappi 3</option>
                            <option value="4">Jääkaappi 4</option>
                            <option value="5">Jääkaappi 5</option>
                            <option value="6">Jääkaappi 6</option>
                            <option value="7">Jääkaappi 7</option>
                        </select> &nbsp; &nbsp;
                        <input id="storageLocations01" name="storageLocations[0][1]" type="number" size="3" value="3" disabled="disabled"/> kpl
                    </td>
                    <td></td>
                </tr>
               
                <tr>
                    <td>Määrä yhteensä</td>
                    <td><input type="number" size="3" value="5" disabled="disabled"/> kpl</td>
                </tr>
               
                <tr>
                    <td>Huomautuksia</td>
                    <td colspan="2"><input type="text" name="comments" size="70" value="1 pullo käytetty ilman laadunvarmistusta 17.2.2012" disabled="disabled"/></td>
                </tr>
                   
            </table>
           
            <br/>
           
            <form method="link" action="changeBatch.html">
                <input type="submit" value="Muokkaa erän tietoja">
            </form>
   
        </div>
    </div>
</body>
</html>


