<!DOCTYPE html>
<html>
    <head>
        <title>Radioaine</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="basic.css" />
        <link rel="stylesheet" type="text/css" href="tabs.css" />
    </head>

    <body>
        <h1><a href="frontpage.html">Radioaine</a></h1>
        <div id="header">
            <ul id="primary">
                <li><a href="frontpage.html" class="selected">VALMISTUS</a></li>
                <li><a href="storage.html">VARASTO</a></li>
                <li><a href="admin.html">HALLINTA</a></li>
            </ul>
        </div>
        <div id="main">
        <div id="contents">
            <h2>Uusi radiolääke</h2>
            <p></p>

                Valitse eluaatti<br/>
                <select><option>Klo 7:34,    Molybdeeni 99,    30,2 GBq,    11 ml,   1. krs,    MK    </option></select>           
                <br/><br/>
               
                <table class="noborder">
                    <tr>
                        <td>
                            Valitse aine
                        </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>

                    <tr>
                        <td>   
                            <select>
                                <option>Generaattori</option>
                                <option selected="selected">Kitti</option>
                                <option>Muu</option>
                            </select>
                        </td>
                        <td>
                            <select class="substance">
                                <option>Angiocis 20.12mg</option>
                                <option>Bridatec</option>
                                <option>Ceretec Exametazine Agent</option>
                                <option>Ceretec Stabilised</option>
                                <option>Myoview</option>
                                <option>Nanocoll</option>
                                <option>Nephromag 0.2mg</option>
                                <option>Octreoscan (In-111)</option>
                                <option>Pentacis</option>
                                <option>Technescan HDP</option>
                                <option>Vasculocis HSA</option>
                                <option>Technescan DMSA</option>
                                <option>Technescan Sestamibi</option>
                                <option>Technescan LyoMAA</option>
                            </select>
                        </td>
                        <td>
                            <select class="batch">
                                <option>Erä 1234567, 1.krs, Laatu OK, vanh. 27.5.2012</option>
                                <option>Erä 1234568</option>
                                <option>Erä 1234569</option>
                            </select>
                        </td>
                        <td></td>       
                    </tr>

                    <tr>
                        <td>   
                            <select>
                                <option>Valitse</option>
                                <option>Generaattori</option>
                                <option>Kitti</option>
                                <option selected="selected">Muu</option>
                            </select>
                        </td>
                        <td>
                            <select class="substance">
                            <option>Valitse</option>
                            <option>Keittosuolaliuos 1000 ml</option>
                           <option>Keittosuolaliuos 100 ml</option>
                            <option>Keittosuolaliuos 10 ml</option>
                       </select>
                   </td>
                    <td>
                       <select class="batch">
                           <option selected="selected"> </option>
                           <option>Erä 1234567, 2.krs jääkaappi, Laatu OK, vanh. 27.5.2012</option>
                           <option>Erä 1234568</option>
                           <option>Erä 1234569</option>
                        </select><br/>
                    </td>
                    <td>
                        <button type="button">Lisää</button>
                    </td>       
                </tr>
            </table>

            <form action="frontpage.html" method="post">

                <table class="noborder">
                    <tr>
                        <td class="name"></td>
                        <td>Klo</td>
                        <td>Pvm</td>
                    </tr>

                    <tr>
                        <td>Valmistusaika</td>
                        <td><input required type="text" name="hour" size="2" />:<input required type="text" name="minute" size="2" /></td>
                        <td><input required type="text" name="date" size="8" value="3.3.2012" /></td><!--Tähän oletusarvoisesti näkymään kuluva päivä-->
                    </tr>

                    <tr>
                        <td>Aktiivisuus</td>
                        <td><input type="text" name="activity" size="5" />
                            <select>
                               <option>GBq</option>
                               <option>MBq</option>
                           </select>
                           &nbsp;
                        </td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Tilavuus</td>
                        <td><input type="text" name="volume" size="5" /> <input type="text" name="volumeUnit" size="4"  value="ml"/></td>
                        <td></td>
                    </tr>

                </table>

                <table class="noborder">

                    <tr>
                        <td class="name">Sijainti</td>
                        <td>
                            <select>
                                <option>Valitse</option>
                                <option>1. krs jääkaappi</option>
                                <option>2. krs jääkaappi</option>
                            </select>
                        </td>
                    </tr>
   
                    <tr>
                        <td>Huomautuksia</td>
                        <td><input type="text" name="comments" size="70" /></td>
                    </tr>
                </table>

                <br/>

                <table class="noborder">
                    <tr>
                        <td class="name">Nimikirjaimet</td>
                        <td><input required type="text" name="initials" size="6" /></td>
                    </tr>
                </table>

                <br/>
               
                <input type="submit" value="Tallenna" /> &nbsp; &nbsp;<input type="submit" value="Peruuta"/>
      
            </form>
           
        </div>
    </div>
</body>
</html>