<!DOCTYPE html>
<html>
<head>
    <title>Radioaine</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="css/basic.css" />
    <link rel="stylesheet" type="text/css" href="css/tabs.css" />
</head>

<body>
    <h1><a href="frontpage.html">Radioaine</a></h1>
    <div id="header">
    <ul id="primary">
        <li><span>VALMISTUS</span></li>
        <li><a href="storage.html">VARASTO</a></li>
        <li><a href="admin.html">HALLINTA</a></li>
    </ul>
    </div>
    <div id="main">
        <div id="contents">
        <p>
       <h2>Valmisteet 16.2.2012</h2>
        </p>
        <p>
       <form method="link" action="createEluate.html">
           <input type="submit" value="LUO ELUAATTI">
       </form>
       </p>
        <p>
            
       <table class="listing">
           <col width="30px"/>
           <col width="60px"/>
           <col width="200px"/>
           <col width="100px"/>
           <col width="100px"/>
           <col width="100px"/>
           <col width="70px"/>
           <col width="200px"/>
           <tr>
               <th colspan="2">Klo</th>
               <th>Aine</th>
               <th>Vahvuus</th>
               <th>Määrä</th>
               <th>Sijainti</th>
               <th>Tekijä</th>
               <th></th> <!--sarake lisäysnapille-->
           </tr>
           <tr>
               <td colspan="2">7:34</td>
               <td><a>Molybdeeni 99</a></td>
               <td>30,2 GBq</td>
               <td>11 ml</td>
               <td>1. krs</td>
               <td>MK</td>
               <th class="noborder">
                    <form method="link" action="createRadioMedicine.html">
                        <input type="submit" value="Luo radiolääke">
                    </form>
               </th>
           </tr>
           <tr>
               <td class="noborder"></td>
               <td>7:48</td>
               <td>Myoview</td>
               <td>5,39 GBq</td>
               <td>4 ml</td>
               <td>1. krs</td>
               <td>MK</td>
           </tr>
           <tr>
               <th class="noborder"></th>
               <td>8:22</td>
               <td><a>NephroMAG</a></td>
               <td>3,20 GBq</td>
               <td>5 ml</td>
               <td>2. krs</td>
               <td>MK</td>
           </tr>
            </table>
            </br>           
            <table class="listing">
           <col width="30px"/>
           <col width="60px"/>
           <col width="200px"/>
           <col width="100px"/>
           <col width="100px"/>
           <col width="100px"/>
           <col width="70px"/>
           <col width="200px"/>
            <tr>
               <td colspan="2">8:54</td>
               <td><a>Molybdeeni 99</a></td>
               <td>66,6 GBq</td>
               <td>10 ml</td>
               <td>2. krs</td>
               <td>RHN</td>
               <th class="noborder">
                    <form method="link" action="createRadioMedicine.html">
                        <input type="submit" value="Luo radiolääke">
                    </form>
               </th>
           </tr>          
           </table>
        </p>
        <p>
            <h2>Muut käytetyt aineet</h2>
        </p>
                <p>
       <form method="link" action="createEluate.html">
            <input type="submit" value="Käytä muu lääkeaine">
        </form>
       </p>

        <p>
            <table class="listing">
                <col width="200px"/>
                <tr>
                    <th>Aine</th>
                </tr>
                <tr>
                    <td>Valmis lääke 1</td>
                </tr>
                <tr>
                    <td>Valmis lääke 2</td>
                </tr>
                <tr>
                    <td>Valmis lääke 3</td>
                </tr>
            </table>
       
        </p>
        </div>
    </div>
</body>
</html>